<div class="depot-form">
  <%= error_messages_for "order" %>
  <% form_for :order, :url => { :action => :save_order } do |form| %>
  <fieldset>
    <legend>あなたの詳細情報をご記入ください</legend>
    <div>
      <%= form.label :name, "お名前:" %>
      <%= form.text_field, :name, :size => 40 %>
    </div>
    <div>
      <%= form.label :address, "ご住所:" %>
      <%= form.text_area, :address, :rows => 3, :cols => 40 %>
    </div>
    <div>
      <%= form.label :email, "Eメール:" %>
      <%= form.text_field :email, :size => 40 %>
    </div>
    <div>
      <%= form.label :pay_type, "お支払い:" %>
      <%= form.select :pay_type, Order::PAYMENT_TYPES, :prompt => "お支払い方法を選択してください" %>
    </div>
    <%= submit_tag "注文する", :class => "submit" %>
  </fieldset>
  <% end %>
</div>
