<h1>Pragmaticカタログ</h1>

<% for product in @products -%>
<div class="entry">
  <%= link_to image_tag(product.image_url), { :action => "add_to_cart" }, { :method => "post" } %>
  <h3><%=h product.title %></h3>
  <%= product.description %>
  <div class="price-line">
    <span class="price"><%= number_to_currency(product.price) %></span>
    <%= button_to "カートに入れる" %>
  </div>
</div>
<% end %>
